<p>
  <strong><%= message.user.name.capitalize %></strong>
  <span class="time"><small>(<%= message.created_at.to_formatted_s(:short) %>): </small></span>
  <span class="message"><%= message.content %></span>
</p>

