<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Last week were sent and received <%= @messages_total %> in total.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
