<div class="container">
  <h1>Chat</h1>
  <div id='messages' data-chat-room='Chat'>
    <%= render partial: "messages/message", collection: @messages %>
  </div>

  <%= form_for(@message, remote: true, class: 'chat-form') do |f| %>
    <%= f.text_field :content %>
    <%= f.submit 'Send' %>
  <% end %>
</div>
