.container {
  background-color: #f1f1f1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3rem;

  #messages {
    height: 80%;
    overflow: scroll;
  }
}

.container form {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  input {
    border: 2px solid #000;
    font-size: large;
    height: 3rem;
    margin: 1rem;
    padding: 1rem;
  }
}
